.field{
  width: 800px;
  padding-bottom: 20px;
}

.colour-border{
  border: 12px solid gold;
  padding: 10px;
}

.header{
  padding: 10px;
}

body{
  padding: 10px;
  background-color: antiquewhite;
}

input{
  background-color: white; 
}

.wider {
  width: 750px;
  height: 125px;
}

